{
  "presets": [
    [
      "latest", {
        "es2015": {
          "modules": false
        }
      }
    ]
  ],
  "env": {
    "testing": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        ["__coverage__", {
          "ignore": "*.+(test|stub).*"
        }]
      ]
    }
  }
}
