{
  "presets": ["latest"],
  "env": {
    "testing": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        ["__coverage__", {
          "ignore": "*.+(test|stub).*"
        }]
      ]
    },

    "production": {
      "presets": [
        ["es2015", {
          "modules": false
        }],
        "es2016",
        "stage-2"
      ]
    }
  }
}
