$bs4-base:15px;
@mixin paddingXpercentage ($percentage) {
  padding-left: $percentage;
  padding-right: $percentage;
}

@mixin paddingTrem ($base) {
  padding-top: ($spacer-x * $base) !important
}

@mixin marginTrem ($base) {
  margin-top: ($spacer-x * $base) !important
}

@mixin percentage($base:1, $screen:'px') {
  @for $i from 1 through 8 {
    $val: $base;
    $value: $val * 1%;
    $prefix: $screen;
    $prefix: $prefix + '-' + ($val* $i) + 'p';
    $value: $value * $i;
    // @debug $value;
    .#{$prefix} {
      padding-left: $value;
      padding-right: $value;
    }
  }
}

.pl-bs4 {
  padding-left: $bs4-base;
}
.pr-bs4 {
  padding-right: $bs4-base;
}

.px-bs4{
  @extend .pl-bs4;
  @extend .pr-bs4;

}

@include percentage(2);
.pt-6 {
  @include paddingTrem(3.5);
}

// media sm and up
@include media-breakpoint-up(sm) {
  @include percentage(2, 'px-sm');
  .pl-sm-4p {
    padding-left: 4%;
  }
  .pl-sm-8p {
    padding-left: 8%;
  }
  .pt-sm-6 {
    @include paddingTrem(3.5);
  }
  .pt-sm-7 {
    @include paddingTrem(4);
  }
  .mt-sm-7 {
    @include marginTrem(4);
  }
  .pt-sm-8 {
    @include paddingTrem(5);
  }
}

// media lg and up
@include media-breakpoint-up(lg) {
  @include percentage(2, 'px-lg');
  .pt-lg-6 {
    @include paddingTrem(3.5);
  }
  .pt-lg-7 {
    @include paddingTrem(4);
  }
  .pt-lg-8 {
    @include paddingTrem(5);
  }
  .pt-lg-10 {
    @include paddingTrem(6);
  }
  .mt-lg-10 {
    @include marginTrem(6);
  }
}
