$bs4-base:15px;
@mixin paddingXpercentage ($percentage) {
  padding-left: $percentage;
  padding-right: $percentage;
}

@mixin paddingTrem ($base) {
  padding-top: ($spacer-x * $base) !important
}

.px-4p {
  @include paddingXpercentage(4%);
}

.px-8p {
  @include paddingXpercentage(8%);
}

.px-16p {
  @include paddingXpercentage(16%);
}

.pt-6 {
  @include paddingTrem(3.5);
}

// media sm and up
@include media-breakpoint-up(sm) {
  .px-sm-4p {
    @include paddingXpercentage(4%);
  }
  .px-sm-8p {
    @include paddingXpercentage(8%);
  }
  .px-sm-16p {
    @include paddingXpercentage(16%);
  }
  .pt-sm-6 {
    @include paddingTrem(3.5);
  }
  .pt-sm-7 {
    @include paddingTrem(4);
  }
  .pt-sm-8 {
    @include paddingTrem(5);
  }
}
