@mixin paddingXpercentage ($percentage) {
  padding-left: $percentage;
  padding-right: $percentage;
}

@mixin paddingTrem ($base) {
  padding-top: ($spacer-x * $base) !important
}

.px-4p {
  @include paddingXpercentage(4%);
}

.px-8p {
  @include paddingXpercentage(8%);
}

.px-16p {
  @include paddingXpercentage(16%);
}

.pt-6 {
  @include paddingTrem(3.5);
}

// media sm and up
@include media-breakpoint-up(sm) {
  .px-sm-8p {
    @include paddingXpercentage(8%);
  }
}
