<div id="title-section">
  <h1>Import files into Nagual</h1>
  <h2>Drag and drop a CSV file to the space below</h1>
  <div id="import-area">
    <p class="copy">Drag your CSV file here or <a href="#">click to browse</a></p>
  </div>
  <div id="import-area-hide">
    <p class="copy">Hide</p>
  </div>
</div>
