@include media-breakpoint-up(lg) {
  .ngl-main-title {
    font-size: 2rem;
    letter-spacing: .125rem;
    line-height: 2.75rem;
  }

  .img-admin {
    width: auto;
  }

  .ngl-details{
    background-size: 100% 78%;
     padding-bottom: 0;
  }
}
