$bg-video-y-offset:5vw;
%bg-gradient {
  background: linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);
}

// .btn-secondary,
// .btn-secondary:hover,
// .btn-secondary:focus {
//   color: #FFFFFF;
//   background-color: #731773;
//   opacity: 1;
//   border: solid 1px #731773;
//   border-radius: 2em;
//   height: 45px;
//   font-size: ($font-base-size) + px;
//   width: 200px;
// }
a {
  color: #ccc;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  width: 75%;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}


/* Padding for spacing */

.inner {
  padding: 2rem;
}

.cover {
  line-height: 80px;
  padding: 30px;
  background: #fff;
  color: #808080;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
}

.logo {
  width: 160px;
}

.hm-main {
  // @extend %bg-gradient;
  background-image: url('../images/home/bg.png');
  // background-position-y: -$bg-video-y-offset;
  background-repeat: no-repeat;
  background-size: 100% 90%;
}

.btn-get-started {
  @extend %bg-gradient;
  position: relative;
  margin-top: remy(-20);
  margin-left: auto;
  margin-right: auto;
  height: remy(50);
  width: 200px;
  transition: margin-top .2s;

  &.playing{
    margin-top: .9rem;
  }
}

.btn-elipsis {
  border-radius: 100px;
}

.btn-shadow {
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1)
}

.video-shadow {
  box-shadow: 5px 6px 5px -2px rgba(128, 120, 128, 0.61);
}

.ngl-details {
  // border: green solid 3px;
  @include bg-solid-as-gradient($color-fourth);
  // @include bg-solid-as-gradient(#C86DD7);
  background-position-y: 8rem;
  background-size: 100%;
  // background-color: $color-fourth;
  padding-bottom: 3.5rem;
}

.list-no-decoration {
  list-style: none;
}

.ngl-interface-item {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: .35rem;
    background-image: url('../images/utilities/bullet.svg');
    background-repeat: no-repeat;
    height: .75rem;
    width: .75rem;
    background-size: .75rem .75rem;
  }
}

.salesforce-logo {
  max-width: 50%;
}

.main-footer {
  background-color: $color-bg-footer;
  p {
    font-size: .8rem;
  }
}

.follow-us {
  max-width: 125px;
}

$radius:15px;
.input-group-email {
  max-width: 320px;
}

.email-input {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
  border: 1px;
  background-color: $color-bg-footer-lighter;
  &:focus {
    background-color: $color-bg-footer-lighter;
    color: $color-third;
  }
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $text-color-primary;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $text-color-primary;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $text-color-primary;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $text-color-primary;
  }
}

.email-submit {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
  background-color: $color-bg-footer-lighter;
}

.ngl-logo {
  // height
  height: 3.5rem;
}

.btn-demo {
  background-color: transparent;
  border: 1px solid $color-third
}

.img-admin {
  max-width: 100%;
  height: auto;
}

.ngl-main-title {
  font-size: 1.3rem;
  line-height: 1.2;
  letter-spacing: .15rem;
}

@mixin btnPlay ($base) {
  width: $base;
  height: $base;
  top: calc(50% - (#{$base} / 2));
  left: calc(50% - (#{$base} / 2));
  $triangle: ($base / 4);
  .arrow-right {
    margin-left: ($triangle / 2);
    width: 0;
    height: 0;
    border-top: $triangle solid transparent;
    border-bottom: $triangle solid transparent;
    border-left: ($triangle + ($triangle * 0.35)) solid $color-third;
  }
}

// $triangle:1rem;
.btn-play {
  position: absolute;
  border-radius: 50%;
  @extend %bg-gradient;
  border: 0;
  @include btnPlay(3rem);
}
