@include media-breakpoint-up(lg) {
  .ngl-main-title {
    font-size: 1.6rem;
  }
  .img-admin {
    width: auto;
  }
  .ngl-details {
    background-size: 100% 78%;
    padding-bottom: 0;
  }
  .btn-play {
    @include btnPlay(5rem);
  }
}
