@include media-breakpoint-up(sm) {
  .hm-main {
    background-image: url('../images/home/bg.png');
    // background-size: cover;
  }
  .img-admin {
    width: 84%;
  }
  .salesforce-logo {
    max-width: 60%;
  }
  .ngl-main-title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 2px;
  }
  // $triangle:1rem;
  .btn-play {
    @include btnPlay(4rem);
  }
}
