@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Light.otf');
  font-weight: 100;
  font-style: normal;
}



body{
  padding-top: $nav-height;
  color: $white;
  font-family: 'Montserrat';
  font-size: 14px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
}


//colors
.color-pink {
  color: $Pink;
}

.bg-white {
  background-color: $white;
}