@font-face {
  font-family: 'Montserrat';
  src:url('Montserrat-Regular.otf');
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

$gray: #818181;
$lightgray: #808080;
$white: #FFFFFF;
$lightblue: #20E6EE;

body {

  color: $white;
  font-family: 'Montserrat';

  div#header {
    height: 45px;
    padding-top: 10px;

    div#header-logo {
      display: block;
      float: left;
      width: 75%;
    }

    div#header-menu {
      width: 25%;
      display: block;
      float: left;
      text-align: right;
      padding-top: 20px;
      padding-right: 20px;

      span {
        padding-left: 1em;
      }

      a{
        color: $gray;
        text-decoration: none;
      }
    }
  }

  div#title-section {
    margin: 0 0 0 0;
    width: 100%;
    height: 650px;
    text-align: center;
    background: linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);

    h1, h2 {
      padding-top: 3em;
      font-size: 36px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      line-height: 44px;
      text-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    }

    h2 {
      text-transform: capitalize;
      padding-top: 1.5em;
      line-height: 40px;
    }

    h3 {
      font-weight: 300;
      font-size: 16px;
      text-align: center;
      line-height: 19px;
      color: $lightblue;
    }

    div#import-area{
      margin: 4em auto 0 auto;
      padding-top: 1.2em;
      box-sizing: border-box;
      width: 640px;
      height: 100px;
      background-color: rgba(255,255,255,0.2);
      border: 1px solid rgba(255,255,255,0.5);
      border-radius: 21px;

      p {
        text-transform: uppercase;
        text-align: center;
      }

      .import {
        display: none;
      }

    }

    div#import-area-hide {
      margin: 2em auto 0 auto;
      width: 120px;
      opacity: 0.6;
      border: 1px solid $white;
      border-radius: 50px;

      p {
        margin: 10px 0 10px 0;
        color: $white;
        cursor: pointer;
      }
    }

    div.container {

      table.table-hover {
        color: $gray;
        background-color: white;

        th {
          font-weight: bold;
          background-color: #F5F5F5;
        }

        td {
          text-align: left;
        }

      }

    }
  }

}
