div#login-modal {

  h2.modal-title {
    text-align: center
  }

  p.alert {
    padding: 0;
    margin: 0;
    color: $red;
  }

  div.row {
    div {
      padding: 1em 0;

      span.required {
        color: $red;
      }
    }
  }

}
