$nav-height: 80px;

// Colors
$white: #FFFFFF;
$lightWhite: #F2F2F2;
$gray: #818181;
$lightgray: #808080;

//Logo colors
$violet: #731773;
$Pink: #FD4485;

// Secondary colors
$lightblue: #20E6EE;
$turquoise: #1CCEAF;
$red: #FD635D;
$orange: #FF7411;
$Yellow: #FFF35C;
