<!DOCTYPE html>
<html>
  <head>
    <title>Nagual</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <div id="header-logo">
        <%= image_tag "nagual_logo.svg" %>
      </div>
      <div id="header-menu">
        <span><a href="#">Dashboard</a></span>
        <span><%= link_to 'Import', import_index_path %></span>
        <span><a href="#">History</a></span>
      </div>
    </div>
