<div id="header">
  <div id="header-logo">
    <%= image_tag "nagual_logo.svg" %>
  </div>
  <div id="header-menu">
    <span><%= link_to 'Import', root_path %></span>
    <span><%= link_to 'History', root_path %></span>
  </div>
</div>
