<div id="header" class="flex navbar-fixed-top">
  <div id="header-logo">
    <%= image_tag "nagual_logo.svg" %>
  </div>
  <span class="flex-spacer"></span>
  <div id="header-menu">
    <span>Welcome <strong>Anakin</strong> | Help | Logout</span>
  </div>
</div>
