<div id="header" class="flex navbar-fixed-top">
  <div id="header-logo">
    <%= image_tag "nagual_logo.svg" %>
  </div>
  <span class="flex-spacer"></span>
  <div id="header-menu">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li><a>Welcome <strong><%= current_user.email %></strong></a></li>
        <li><a>Help</a></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <strong>Sign in</strong> | Help
      <% end %>
    </ul>
  </div>
</div>
